elastic_connection_string=http://localhost:9200
elastic_index_name=movies
elastic_index_body_path=static/index_body.json
postgres_db=db
postgres_user=user
postgres_password=pwd
postgres_host=host
postgres_port=5432
batch_size=1000
delay=60